/* tablet view */
@media only screen and (min-width: 768px){

    main{
        width: 768px;
    }

    #a {
        background-color: blue;
    }
    #b {
        background-color: green;
    }
    #c {
        background-color: red;
    }
    #d {
        background-color: brown;
    }
    #e {
        background-color: cyan;
    }
    #f {
        background-color: purple;
    }
    #g {
        background-color: red;
    }
    #h {
        background-color: yellow;
    }
    #i {
        background-color: orange;
    }

}

/* disktop view */
@media only screen and (min-width: 960px)  { 
    main{
        width: 960px;
        height: 700px;
        margin: 0 auto;
        grid-template-columns: 20.8%  19.75% 19.75% 19.75% 19.75% ;
        grid-template-rows:  14.2% 28.5% 35.7% 21.4%  ;
        justify-content: center;
    }
        
    div {
        text-align: center;
        border: black solid 1px;
        box-sizing: border-box;
        font-size: larger;
        vertical-align: text-bottom;
    }
    #a {
        grid-column:1/6; 
        line-height : 100px;
    }
    #b {
        grid-column: 1/2;
        grid-row: 2/5;
        line-height : 600px;
    }
    #c {
        grid-column:2/4; 
        line-height : 200px;

    }
    #d{
        grid-column:4/6; 
        line-height : 200px;
    }
    #e{
        grid-column:2/3; 
        line-height : 250px;
    }
    #f{
        grid-column:3/4; 
        line-height : 250px;
    }
    #g{
        grid-column:4/5; 
        line-height : 250px;
    }
    #h{
        grid-column:5/6; 
        line-height : 250px;
    }
    #i {
        grid-column:2/6; 
        line-height : 150px;
    }
    
    #a {
        background-color: orange;
    }
    #b {
        background-color: yellow;
    }
    #c {
        background-color: red;
    }
    #d {
        background-color: purple;
    }
    #e {
        background-color: brown;
    }
    #f {
        background-color: cyan;
    }
    #g {
        background-color: pink;
    }
    #h {
        background-color: green;
    }
    #i {
        background-color: blue;
    }
    
    }